@page
@model Practica_3__Desarrollo_web_ASP.NET_Core_.Pages.ContactosModel
@{
}

<div>
    <form  method="get">
        <input type="type" name="site" value="" />
        <input type="submit"  value="Actualizar WebSite" />
    </form>
    <h1>  Lista de Contactos</h1>
    <p>Telefono: @Model.Telefono</p>
    <p>Email: @Model.Email</p>
    <p>Web: @Model.WebSite</p>
</div>

  